source https://www.nuget.org/api/v2/
storage:none

nuget FSharp.Compiler.Service
nuget Microsoft.NET.Test.Sdk
nuget Expecto
nuget Expecto.FsCheck

// [ FAKE GROUP ]
group Build
  source https://www.nuget.org/api/v2/

  nuget Fake.Core.Target prerelease
  nuget Fake.DotNet.Cli prerelease
  nuget Fake.Core.ReleaseNotes prerelease
  nuget Fake.Core.Xml prerelease
