source https://www.nuget.org/api/v2/
storage:none

nuget DotNet.ProjInfo
nuget Fake.DotNet.MsBuild
nuget FSharp.Compiler.Service
nuget Microsoft.NET.Test.Sdk
nuget Expecto
nuget Expecto.FsCheck

github Microsoft/visualfsharp:Visual-Studio-2017-Version-15.4 src/fsharp/FSharp.Build/Fsc.fs

// [ FAKE GROUP ]
group Build
  source https://www.nuget.org/api/v2/

  nuget Fake.Core.Target prerelease
  nuget Fake.DotNet.Cli prerelease
  nuget Fake.Core.ReleaseNotes prerelease
  nuget Fake.Core.Xml prerelease