source https://api.nuget.org/v3/index.json

nuget FsCheck.Xunit
nuget Microsoft.NET.Test.Sdk
nuget Unquote
nuget xunit
nuget xunit.runner.visualstudio

group Build
  source https://api.nuget.org/v3/index.json
  nuget FAKE prerelease
  nuget GitVersion.CommandLine
