source https://api.nuget.org/v3/index.json
storage:none

nuget FsCheck.Xunit
nuget Microsoft.NET.Test.Sdk
nuget Unquote
nuget xunit
nuget xunit.runner.visualstudio

git https://github.com/fsharp-editing/Forge.git master build:"build.cmd Build", OS: windows
git https://github.com/fsharp-editing/Forge.git master build:"build.sh Build", OS: mono

group Build
  source https://api.nuget.org/v3/index.json

  nuget FAKE prerelease
  nuget GitVersion.CommandLine
